<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Project{% endblock %}</title>

    <!-- Include Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .rounded-6xl {
            border-radius: 6vw;
        }
        .rounded-4xl {
            border-radius: 4vw;
        }
        .blog {
            aspect-ratio: 2/1;
        }

        .video{
            aspect-ratio: 4/3;
        }
    </style>
</head>

<body class="bg-gray-200 font-sans antialiased">
    <div class="flex flex-col min-h-screen h-full items-center gap-10 md:px-8 lg:px-16">
        <nav class="flex bg-blue-500/75 justify-between backdrop-blur-md text-white w-full max-w-2xl lg:max-w-3xl xl:max-w-4xl rounded-full fixed top-2">
            <div class="nav-item flex px-10 self-start">
                <img class="w-36 h-auto object-cover lg:w-48" src="https://res.cloudinary.com/dej3owk7z/image/upload/v1733460651/m1gx89g18zcmtw3pzfve.png">
            </div>
            <div class="nav-item flex px-10 text-center items-center gap-6 font-serif lg:text-xl">
                <a href="#" class="hover:underline">Home</a>
                <a href="#" class="hover:underline">Blog</a>
                <a href="#" class="hover:underline">Gallery</a>
                <a href="#" class="hover:underline">About Us</a>
                <a href="#" class="hover:underline">Login</a>
            </div>
        </nav>
        <div class="h-24">

        </div>

        {% block content %}{% endblock %}
        
        <div></div>
    </div>
    <footer></footer>
</body>
<script>
    const nav = document.querySelector('nav'); // Select the navbar
    let lastScrollY = window.scrollY; // Track the last scroll position

    window.addEventListener('scroll', () => {
        if (window.scrollY > lastScrollY) {
        // Scrolling down - hide navbar
        nav.style.transform = 'translateY(-200px)'; // Move it up off the screen
        } else {
        // Scrolling up - show navbar
        nav.style.transform = 'translateY(0)'; // Reset to visible position
        }
        lastScrollY = window.scrollY; // Update the last scroll position
    });

    // Add smooth transition to the navbar
    nav.style.transition = 'transform 0.3s ease-in-out';
</script>

</html>
