<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Project{% endblock %}</title>

    <!-- Include Tailwind CSS -->
    <link href="https://pub-62cfa611580c4a45a5ed86954f64f3c5.r2.dev/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans antialiased">

    <!-- Navigation Bar -->
    <nav class="bg-blue-600 text-white p-4">
    </nav>

    <!-- Main Content Area -->
    <main class="container mx-auto my-8">
        {% block content %}
        <!-- Content will be inserted here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-blue-600 text-white py-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 My Django App. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>
