{% extends 'base.html' %}

{% block content %}
    <div class="max-w-2xl w-full bg-gray-100 dark:bg-gray-900 p-8 shadow-md rounded-3xl border-2 border-gray-500">

        
        <div class="space-y-4">
            <h2 class="text-center text-3xl font-bold text-blue-900 dark:text-white mb-6">Contact Us</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 w-full justify-between gap-8">
                <div>
                    <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-300">Office Address (Haridwar):</h3>
                    <p class="text-gray-600 dark:text-gray-400">
                        Sai Leela Shah Bhawan<br>
                        Near Santshree Asharamjibapu Ashram<br>
                        Sapt Sarover Marg<br>
                        Haripur Kalan<br>
                        Haridwar, PIN: 249205
                    </p>
                </div>
                <div>
                    <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-300">Office Address (Mumbai):</h3>
                    <p class="text-gray-600 dark:text-gray-400">
                        V Mall, Ashanagar Thakur Complex<br>
                        Office No. 74, Ground Floor<br>
                        Western Express Highway<br>
                        Near Sai Dham Temple<br>
                        Kandivali East, Mumbai 400101
                    </p>
                </div>
                <div>
                    <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-300">Contact Numbers:</h3>
                    <ul class="text-gray-600 dark:text-gray-400">
                        <li><a href="tel:+919322757104" class="text-blue-600 hover:underline dark:text-blue-400">+91 9322757104</a></li>
                        <li><a href="tel:+919769642632" class="text-blue-600 hover:underline dark:text-blue-400">+91 9769642632</a></li>
                        <li><a href="tel:+919167110711" class="text-blue-600 hover:underline dark:text-blue-400">+91 9167110711</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-300">Email Addresses:</h3>
                    <ul class="text-gray-600 dark:text-gray-400">
                        <li><a href="mailto:enquiry@kheliyaad.com" class="text-blue-600 hover:underline dark:text-blue-400">enquiry@kheliyaad.com</a></li>
                        <li><a href="mailto:marketing@kheliyaad.com" class="text-blue-600 hover:underline dark:text-blue-400">marketing@kheliyaad.com</a></li>
                        <li><a href="mailto:sales@kheliyaad.com" class="text-blue-600 hover:underline dark:text-blue-400">sales@kheliyaad.com</a></li>
                        <li><a href="mailto:admin@kheliyaad.com" class="text-blue-600 hover:underline dark:text-blue-400">admin@kheliyaad.com</a></li>
                        <li><a href="mailto:purchase@kheliyaad.com" class="text-blue-600 hover:underline dark:text-blue-400">purchase@kheliyaad.com</a></li>
                        <li><a href="mailto:accounts@kheliyaad.com" class="text-blue-600 hover:underline dark:text-blue-400">accounts@kheliyaad.com</a></li>
                    </ul>
                </div>
            </div>
           
            

            
        </div>
        

    </div>
{% endblock %}
