{% extends 'base.html' %}

{% block content %}
    <div class="max-w-md w-full bg-gray-100 dark:bg-gray-900 p-8 shadow-md rounded-3xl border-2 border-gray-500">
        {% if request.user.profile.membership.membership_status == "Active" %}
        <p>You have a membership</p>
        {% elif request.user.profile.membership.membership_status == "Verifying" %}
        <p>Membership is under review</p>
        {% else %}
        <h2 class="text-center text-3xl font-bold text-blue-900 dark:text-white mb-6">Join Us!</h2>
        <form class="space-y-6" method="post">
            {% csrf_token %}
            <p class="mt-6 text-center text-sm text-gray-600 dark:text-gray-300 mb-2">
                To join us, kindly transfer ₹200 on our UPI id. Our Representatives will reach out to you shortly.
            </p>
            <img class="bg-gray-100 rounded-md w-4/5 justify-self-center" alt="Payment QR" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/QR_Code_Example.svg/1200px-QR_Code_Example.svg.png">
            <input 
                id="txnid" 
                name="txnid" 
                type="text" 
                required 
                class="mt-1 block w-4/5 justify-self-center mt-6 px-3 py-2 border border-blue-300 text-gray-900 dark:border-blue-500 rounded-lg shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500 sm:text-sm"
                placeholder="Enter your UPI Transaction ID"
            />
            <button 
                type="submit" 
                class="w-4/5 flex justify-center mt-2 justify-self-center py-2 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:bg-blue-700 dark:hover:bg-blue-600"
            >
                Submit
            </button>
        </form>
        {% endif %}
    </div>
    <div class="flex flex-col w-full text-xl items-center gap-4">
        {% include 'landing/bmi_calculator.html' %}
    </div>
{% endblock %}
