    <div>
      <button 
        class="w-full flex justify-between gap-1 items-center p-4 text-gray-700 dark:text-gray-300 font-medium focus:outline-none"
        onclick="toggleAccordion(1)">
        <span class="md:text-3xl font-serif-noto text-xl text-left">Beat Mobile Phone Addiction</span>
        <span id="icon-1" class="transform transition-transform duration-300 text-2xl font-serif-noto">-</span>
      </button>
      <div id="content-1" class="flex flex-col md:flex-row overflow-hidden transition-all duration-300 md:p-6">
        <div class="flex md:w-1/3 min-h-64 h-auto rounded-3xl" style="background-image:url(/static/assets/index-1.jpg); background-position: center; background-size: cover;"></div>
        <div class="flex md:w-2/3 h-auto flex-col">
          <p class="p-4 text-gray-600 dark:text-gray-400">
            We motivate people of all class of society to break the mobile phone or other electronic gadgets addiction through sport so they can enjoy stress-free life.</p>
          <p class="p-4 text-gray-600 dark:text-gray-400">Sports and Physical activities play a crucial role in our life. It is not only important for kids but also for adults.</p>
          <p class="p-4 text-gray-600 dark:text-gray-400">For balancing digital life and real-life reversing screen addiction is very important. The more we invest in our phones, the more we divert from our well-being. Every moment spent on your phone steals the richness of real-life experiences. we don’t even realize how much time we’re wasting on our phones. We will help you get started on your path to recovery, so come join us.
          </p>
        </div>
      </div>
    </div>

    <!-- Accordion Item 2 -->
    <div>
      <button 
        class="w-full flex justify-between gap-1 items-center p-4 text-gray-700 dark:text-gray-300 font-medium focus:outline-none"
        onclick="toggleAccordion(2)">
        <span class="md:text-3xl font-serif-noto text-xl text-left">Healthy mind resides in healthy body.</span>
        <span id="icon-2" class="transform transition-transform duration-300 text-2xl font-serif-noto">+</span>
      </button>
      <div id="content-2" class="hidden flex flex-col-reverse md:flex-row overflow-hidden transition-all duration-300 md:p-6">
        <div class="flex md:w-2/3 h-auto flex-col">
          <p class="p-4 text-gray-600 dark:text-gray-400">
            A lot of research has found that sports, physical activity can have immediate and long-term benefits. Sports helps in reducing depression. The best solution to get rid of stress is to do sports, physical activity or exercise daily. National guidelines recommended total of 60 minutes of physical activity every day for healthy body and mind.
          </p>
          <p class="p-4 text-gray-600 dark:text-gray-400">
            Nobody can deny the importance of sports for overall wellbeing of a child. Therefore, irrespective of gender, every child should be encouraged to play sports and keep themselves fit. According to research, playing sports is beneficial for mental and physical wellbeing and keeps one physically healthy and mentally active. It increases self – confidence, self-esteem and mental awareness.
          </p>
        </div>
        <div class="flex md:w-1/3 min-h-64 rounded-3xl" style="background-image:url(/static/assets/index-2.jpg); background-position: center; background-size: cover;"></div>
      </div>
    </div>

    <!-- Accordion Item 3 -->
    <div>
      <button 
        class="w-full flex justify-between gap-1 items-center p-4 text-gray-700 dark:text-gray-300 font-medium focus:outline-none"
        onclick="toggleAccordion(3)">
        <span class="md:text-3xl font-serif-noto text-xl text-left">Apart from that, sports have many benefits.</span>
        <span id="icon-3" class="transform transition-transform duration-300 text-2xl font-serif-noto">+</span>
      </button>
      <div id="content-3" class="hidden flex md:flex-row flex-col overflow-hidden transition-all duration-300 md:p-6">
        <div class="flex md:w-1/3 min-h-64 h-auto rounded-3xl" style="background-image:url(/static/assets/index-3.jpg); background-position: center; background-size: cover;"></div>
        <div class="flex md:w-2/3 h-auto flex-col"> 
          <p class="p-4 text-gray-600 dark:text-gray-400">
            If we are active, not only will we be more likely to lose body fat, but the risk of obesity will also be reduced.
          </p>
          <p class="p-4 text-gray-600 dark:text-gray-400">
            Participating in sports can be a fun and enjoyable way to stay active, challenge oneself, and have a good time with others. Team sports in particular can provide opportunities to develop skills such as communication, collaboration, and leadership.
          </p>
          <p class="p-4 text-gray-600 dark:text-gray-400">
            Despite the many people who take part in sport, it is also worth noting that according to a report by the World Health Organization, approximately 80% of the world’s adolescent population (ages 11-17) is insufficiently physically active. So there is need to grow participation in sport and physical activity.
          </p>
        </div>
        
      </div>
    </div>
  
  <script>
    function toggleAccordion(index) {
      const content = document.getElementById(`content-${index}`);
      const icon = document.getElementById(`icon-${index}`);
      const isHidden = content.classList.contains("hidden");


      // Toggle current accordion
      if (isHidden) {
        content.classList.remove("hidden");
        icon.textContent = "-";
      } else {
        content.classList.add("hidden");
        icon.textContent = "+";
      }
    }
  </script>
