<div class="flex flex-col w-full text-xl items-center gap-4">
    <div class="flex flex-col w-full flex-shrink-0 text-base xl:text-xl">
      <p class="w-full text-center font-serif-noto text-3xl md:text-5xl mb-3 text-blue-600 dark:text-blue-400">Meet the Team</p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full px-4">
        <!-- Team Member 1 -->
        <div class="flex flex-col items-center p-4">
          <img src="/static/assets/team/Samir.png" alt="Samir Shinde" class="w-48 h-48 rounded-full mb-4">
          <h3 class="text-lg font-bold text-gray-800 dark:text-gray-200">Mr. Samir Shinde</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Founder & Country Head- MD/ CEO</p>
        </div>
  
        <!-- Team Member 2 -->
        <div class="flex flex-col items-center p-4">
          <img src="/static/assets/team/Ram.png" alt="Ram Bisht" class="w-48 h-48 rounded-full mb-4">
          <h3 class="text-lg font-bold text-gray-800 dark:text-gray-200">Mr. Ram Bisht</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">CFO & Joint Director</p>
        </div>
  
        <!-- Team Member 3 -->
        <div class="flex flex-col items-center p-4W">
          <img src="/static/assets/team/Manoj.png" alt="Manoj Kumar" class="w-48 h-48 rounded-full mb-4">
          <h3 class="text-lg font-bold text-gray-800 dark:text-gray-200">Mr. Manoj Kumar</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Head of Admin Department</p>
        </div>
      </div>
    </div>
  </div>